# DEBUG
DEBUG=(bool)
# Allowed Hosts
ALLOWED_HOSTS=(hosts split by `,`)
# DATABASE
DATABASE_ENGINE=(str)
DATABASE_NAME=(str)
DATABASE_USER=(str)
DATABASE_PASSWORD=(str)
DATABASE_HOST=(str)
DATABASE_PORT=(str)